<div class="card ">
    <p-menubar  class="ms-10 ">
        <ng-template  pTemplate="start">
            <h3>logo</h3>
            @for(p of routerpath ;track $index){
                <a pRipple class="align-items-center p-menuitem-link mx-2
             p-link inline-flex justify-content-center h-3rem  border-[1px] border-width:2px
             hover:bg-black-alpha-10 transition-all transition-duration-200"
                [routerLink]="[p?.['path']]" routerLinkActive="border-b-2 p-6">
                <!-- <span [class]="p.icon" ></span> -->
             <span class="ml-2">{{ p.label }}</span></a>
            }
        </ng-template>
        <ng-template pTemplate="end">
          @for (item of items; track $index) {
            <a pRipple class="align-items-center p-menuitem-link mx-2
             p-link inline-flex justify-content-center h-3rem  border-[1px] border-width:2px
             hover:bg-black-alpha-10 transition-all transition-duration-200"
                [routerLink]="[item?.['path']]">
                <span [class]="item.icon" ></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
          }
        </ng-template>
    </p-menubar>
</div>