.btnToCart{
    display: inline-block;
    width: 100%;
    background-color: #00a013;
    color: rgb(237, 237, 237);
    text-align: center !important; 
    padding: .5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}