<section>
    
    <div class="container mx-auto">
         <h1 class="text-2xl font-bold  pl-3 mt-8 mb-3 text-red-600">
        Login
      </h1>
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <!-- @for (userData of loginDataControls; track $index) {
            <p-inputGroup class="my-3">
    <p-inputGroupAddon>
    <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input pInputText [placeholder]="userData" 
    [formControlName]="userData" class="w-25" 
    [autofocus]="true" [(ngModel)]="userinfo"
/>
    </p-inputGroup>
  } -->
              <p-inputGroup class="my-3">
    <p-inputGroupAddon>
    <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input pInputText placeholder="اسم المستخدم" 
    formControlName="username" class="w-25" 
    [autofocus]="true"
/>
 </p-inputGroup>
             <p-inputGroup class="my-3">
    <p-inputGroupAddon>
    <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input pInputText placeholder="كلمه المرور" 
    formControlName="password" class="w-25" 
    [autofocus]="true" 
/>
 </p-inputGroup> 
     <!-- <button pButton pRipple class="p-button-success d-block my-3">submit</button> -->
        <button class="w-3 mt-3 p-button p-component text text-center btnToCart">
            Login
          </button>
        </form>
    </div>    
</section>
  <div class="card flex justify-content-center gap-2">
   <p-toast />
       </div>
<ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "medium" color = "#eb4e00" type = "fire" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
